{
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "singleQuote": false,
  "endofline": "lf",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "trailingComma": "all"
}
